.visibilityFilter {
  list-style: none;
  width: 400px;
  margin: 40px auto;
}
.visibilityFilter li {
  padding: 0 10px;
  float: left;
}

.visibilityFilter--show-all {
  cursor: pointer;
}

.visibilityFilter--show-completed {
  cursor: pointer;
}