.itemText--complete {
  text-decoration: line-through;
}

.itemButton--remove {
  color: red;
  cursor: pointer;
  padding: 0 10px;
}

.itemButton--toggle-complete {
  color: green;
  cursor: pointer;
  padding: 0 10px;
}